@charset "UTF-8";

html, body	{
	height: 100%;
	
}

.imagebody	{
	width: 100%;
	height: auto;
	float: right;
}

.nowtitle	{
	color: #83b14e;
	border-bottom: 1px solid #747474;
}

table	{
	margin-top: 30px;S
}

h1	{
	display: inline-block;
}

h4	{
	display: inline-block;
}


.images1	{
	width: 200px;
	height: 200px;
}

.tdtable1	{
	padding-right: 10px;
}