@charset "UTF-8";
*	{
	margin: 0;
	padding: 0;
}
#qnatitle	{
	width: 100%;
	display: inline-block;
	color: rgb(136, 176, 75);
	border-bottom: 1px solid #747474;
}
h1	{
	display: inline-block;
	color: rgb(136, 176, 75);
}


/* .body	{
	width: 900px;
	height: 1000px;
	margin: 0 auto;	
	padding-top: 70px;
} */

.frm	{
	height: 1000px;
}

.blank	{
	height: 50px;
	background-color: white;
}

.search	{
	width: 150px;
	height: 30px;
	font-size: 15px;
	display: inline-block;
	
}

table	{
	margin-top: -30px;
}

tr	{
	border-collapse: collapse;
}

.td1	{
	width: 140px;
	text-align: center;
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.td2	{
	width: 240px;
	text-align: center;
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.kind	{
	width: 100px;
	height: 30px;
	
	display: inline-block;
	
}

#btn	{
	display: inline-block;
	
}

.search_kind	{
	padding-bottom: -40px;
}

#id	{
	float: right;
}

.pagination	{
	margin-left: 50px;
}



.writer	{
	float: right;
}