@charset "UTF-8";
*	{
	margin: 0;
	padding: 0;
}

#qnatitle	{
	width: 100%;
	display: inline-block;
	color: rgb(136, 176, 75);
	border-bottom: 1px solid #747474;
}
h1	{
	display: inline-block;
	color: rgb(136, 176, 75);
}
h4	{
	display: inline-block;
	
}

/* .body	{
	padding-top: 70px;
	width: 900px;
	height: 680px;
	margin: 0 auto;
	
} */

.blank	{
	height: 100px;
	background-color: white;
}

.trtable	{
	border: 1px solid black;
	border: 1px solid #dcdcdc;
}
td	{
	border: 1px solid #dcdcdc;
}

.tdtable1	{
	text-align: center;
	width: 120px;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.tdtd	{
	width: 220px;
}

#tdtable1_1	{
	line-height: 220px;
}

#tdtable1_2	{
	line-height: 120px;
}

.tdtable2	{
	text-align: center;
	width: 100px;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.tdtable3	{
	height: 300px;
}

.tdtable4	{
	height: 150px;
}

.tdtable5	{
	
	text-align: center;
	width: 116px;
	background-color: rgb(241, 255, 227);
	height: 150px;
}

.tdtable6	{
	width: 583px;
	height: 150px;
}

.btn	{
	float: right;
	margin-top: -24px;
	
}

#a	{
	margin-right: -2px;
}

.area1	{
	margin-top: -8px;
	margin-left: -8px;
	
}



#answer	{
	display: block;
}

#blank1	{
	height: 15px;
}

#blank2	{
	height: 20px;
}

#qnatitle	{
	float: left;
}
