@charset "UTF-8";
*	{
	margin: 0;
	padding: 0;
}

#qnatitle	{
	width: 100%;
	display: inline-block;
	color: rgb(136, 176, 75);
	border-bottom: 1px solid #747474;
}

/* .body	{
	width: 900px;
	height: 1000px;
	margin: 0 auto;
	padding-top: 70px;
	
} */

.blank	{
	height: 50px;
	background-color: white;
}

.trtable	{
	border: 1px solid black;
	border: 1px solid #dcdcdc;
}



td	{
	border: 1px solid #dcdcdc;
}

.tdtable1	{
	text-align: center;
	width: 100px;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.tdtd	{
	width: 220px;
}

#tdtable1_1	{
	line-height: 220px;
}

#tdtable1_2	{
	line-height: 120px;
}

.tdtable2	{
	text-align: center;
	width: 120px;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
}

.tdtable3	{
	height: 300px;
	
}

.tdtable4	{
	height: 150px;
}

.tdtable5	{
	
	
}

.tdtable6	{
	width: 763px;
	height: 150px;
}

.btn	{
	float: right;
	margin-top: -20px;
	margin-right: 10px;
}

#a	{
	margin-right: -2px;
}

.area1	{
	margin-top: -8px;
	margin-left: -8px;
}



#answer	{
	display: block;
	
}

.tdanswer	{
	text-align: center;
	width: 100px;
	height: 150px;
}

#blank1	{
	height: 21px;
	
}


#qnatitle	{
	width: 100%;
	display: inline-block;
	color: rgb(136, 176, 75);
	border-bottom: 1px solid #747474;
}
h1	{
	display: inline-block;
	color: rgb(136, 176, 75);
}
h4	{
	display: inline-block;
	
}

.answer	{
	margin-top: 20px;
}

.tdtable7	{
	text-align: center;
	width: 136px;
	background-color: rgb(136, 176, 75);
	font-weight: bolder;
	color: white;
	height: 150px;
}

.tdtable8	{
	height: 150px;
	width:763px;
}

.button	{
	
	height: 50px;
	margin-right: -10px;
}

#button1	{
	margin-top: 10px;
}

.trtable9	{
	border: 1px solid black;
	border: 1px solid #dcdcdc;
	margin-top: 50px;
}

.button > a	{
	margin-top: 0px;
}